    $main-color: #8fcddc;
    @mixin flexAlign($hor: center, $vert: center, $pos: row) {
        display: flex;
        justify-content: $hor;
        align-items: $vert;
        flex-direction: $pos;
    }
    
    @mixin fontStyle ($color: black, $size: 24px) {
        color: $color;
        font-size: $size;
    }
    
    body {
        margin: 0;
        font-family: 'Raleway', sans-serif;
    }
    
    .header {
        width: 100%;
        height: 57px;
        background: rgba($main-color, .4);
        @include flexAlign;
        position: fixed;
        left: 0;
        top: 0;
        &__content {
            width: 1024px;
            height: 100%;
            @include flexAlign (space-between);
            @media screen and (max-width: 1024px) {
                width: 100%;
                flex-direction: row-reverse;
                box-sizing: border-box;
                padding-right: 20px;
            }
            .menu {
                width: 57px;
                height: 57px;
                background: rgba(255, 255, 255, 0.5);
                cursor: pointer;
                &__line {
                    width: 37px;
                    height: 6px;
                    background-color: white;
                    position: relative;
                    &::after {
                        content: '';
                        width: 37px;
                        height: 6px;
                        background-color: white;
                        position: absolute;
                        bottom: 11px;
                        left: 0;
                    }
                    &::before {
                        content: '';
                        width: 37px;
                        height: 6px;
                        background-color: white;
                        position: absolute;
                        top: 11px;
                        left: 0;
                    }
                }
            }
        }
    }
    
    .banner {
        width: 100%;
        height: 482px;
        background: url('../images/FON.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        @include flexAlign;
        &__content {
            width: 1024px;
            height: 100%;
            box-sizing: border-box;
            padding-left: 30px;
            @include flexAlign(flex-start);
            &-form {
                @include flexAlign ($pos: column);
                width: 390px;
                text-align: center;
                &-text {
                    @include fontStyle (white,
                    27px);
                    margin-bottom: 27px;
                }
                .search {
                    width: 100%;
                    position: relative;
                    &__input {
                        width: 100%;
                        height: 42px;
                        outline: none;
                        border: none;
                        @include fontStyle ($size: 21px);
                        padding-left: 17px;
                        box-sizing: border-box;
                        &::placeholder {
                            color: #bbbbbb;
                        }
                    }
                    &__img {
                        width: 27px;
                        position: absolute;
                        top: 8px;
                        right: 7px;
                        z-index: 1;
                    }
                }
            }
        }
    }
    
    .create {
        width: 100%;
        height: 115px;
        @include flexAlign;
        border-bottom: 1px, solid, #e3e3e3;
        &__text {
            @include fontStyle(#8b8b8b,
            37px);
            margin-right: 35px;
        }
        &__button {
            background-color: $main-color;
            outline: none;
            @include fontStyle(#8b8b8b,
            37px);
            font-weight: 100;
            border: none;
            width: 255px;
            height: 60px;
            cursor: pointer;
            user-select: none;
            transition: .4s;
            &::hover {
                background: rgba ($main-color, .6);
            }
        }
    }
    
    .category {
        padding: 36px 0 70px 0;
        @include flexAlign;
        &__content {
            width: 1024px;
            @include flexAlign($pos: column);
            @media screen and (max-width: 1024px) {
                width: 100%;
            }
            &-title {
                font-size: 23px;
                text-transform: uppercase;
            }
            &-items {
                @include flexAlign(space-around);
                margin-top: 32px;
                .links {
                    margin: 0;
                    list-style-type: none;
                    &__item {
                        padding-bottom: 11px;
                        &:last-child {
                            padding-bottom: 0;
                        }
                        &-link {
                            text-decoration: none;
                            color: #b9b9b9;
                            font-size: 15px;
                            &:active {
                                color: black;
                            }
                        }
                    }
                }
            }
        }
    }
    
    .footer {
        width: 100%;
        height: 44px;
        background-color: #484242;
        @include flexAlign;
        color: #adabab;
        font-size: 17px;
    }